
### Services

service pop3-login {
  inet_listener pop3 {
    port = {{ _ports.pop3 is defined | ternary(_ports.pop3, '0') }}
  }

  inet_listener pop3s {
    port = {{ _ports.pop3s is defined | ternary(_ports.pop3s, '0') }}
    ssl = yes
  }
}

service imap-login {
  inet_listener imap {
    port = {{ _ports.imap is defined | ternary(_ports.imap, '0') }}
  }

  inet_listener imaps {
    port = {{ _ports.imaps is defined | ternary(_ports.imaps, '0') }}
    ssl = yes
  }
}


### Auth

auth_mechanisms = plain
# start at nobody's uid
first_valid_uid = 99

passdb {
{% if auth == "pam" %}
  driver = pam
{% elif auth == "yaml-dict" %}
  driver = dict
  args = /etc/dovecot/yaml-dict-auth.conf
{% endif %}
}

userdb {
{% if auth == "pam" %}
  driver = pam
{% elif auth == "yaml-dict" %}
  driver = dict
  args = /etc/dovecot/yaml-dict-auth.conf
{% endif %}
}


### TLS

{% if with_tls %}
ssl = required
# TODO: detect Dovecot version >= 2.3 to use ssl_min_protocol instead
#ssl_min_protocol = TLSv1.2
ssl_protocols = {% if openssl_version is version('1.1', '<') %}!SSLv2 {% endif %}!SSLv3
ssl_cipher_list = ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
ssl_prefer_server_ciphers = yes
ssl_dh_parameters_length = 2048
disable_plaintext_auth = yes

ssl_cert = <{{ cert_file }}
ssl_key = <{{ key_file }}
ssl_ca = <{{ ca_file }}
{% else %}
ssl = no
disable_plaintext_auth = no
{% endif %}

